@font-face {
    font-family: 'Noto Sans Condensed';
    src: url('NotoSansCondensed-Black.eot');
    src: url('NotoSansCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('NotoSansCondensed-Black.woff2') format('woff2'),
        url('NotoSansCondensed-Black.woff') format('woff'),
        url('NotoSansCondensed-Black.ttf') format('truetype'),
        url('NotoSansCondensed-Black.svg#NotoSansCondensed-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

