@use '../base/typography'as typography;

$fondo_violeta:rgba(81, 93, 239, 1);
$fondo_principal:rgba(245, 245, 245, 1);
$color_blanco:rgba(251, 251, 251, 1);
$color_azul:rgba(27, 207, 246, 1);

$fuente_italic:'Inter','sans-serif';
$fuente_poppin:'Poppins';
$fuente_akroni:'Akronim';