@font-face {
    font-family: 'Akronim';
    src: url('Akronim-Regular.woff2') format('woff2'),
        url('Akronim-Regular.woff') format('woff'),
        url('Akronim-Regular.ttf') format('truetype'),
        url('Akronim-Regular.svg#Akronim-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

